.support {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.support .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1536px;
  position: relative;
}

.support .frame {
  position: absolute;
  width: 1440px;
  height: 102px;
  top: 0;
  left: 0;
}

.support .frame-2 {
  position: relative;
  height: 102px;
  background-color: #1e5048;
}



.support .image {
  width: 83px;
  height: 83px;
  top: 9px;
  left: 1321px;
  position: absolute;
  object-fit: cover;
}

.support .text-wrapper {
  position: absolute;
  width: 242px;
  top: 172px;
  left: 45px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.support .text-wrapper-2 {
  position: absolute;
  width: 463px;
  top: 284px;
  left: 45px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.support .group {
  position: absolute;
  width: 596px;
  height: 121px;
  top: 375px;
  left: 91px;
}

.support .rectangle {
  width: 596px;
  height: 23px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-2 {
  width: 417px;
  height: 23px;
  top: 49px;
  left: 0;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-3 {
  width: 550px;
  height: 23px;
  top: 98px;
  left: 0;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .text-wrapper-3 {
  position: absolute;
  width: 493px;
  top: 546px;
  left: 15px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.support .rectangle-4 {
  width: 530px;
  height: 23px;
  top: 629px;
  left: 73px;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-5 {
  width: 560px;
  height: 23px;
  top: 679px;
  left: 76px;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-6 {
  width: 583px;
  height: 23px;
  top: 728px;
  left: 75px;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .text-wrapper-4 {
  position: absolute;
  width: 557px;
  top: 776px;
  left: -2px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.support .rectangle-7 {
  width: 513px;
  height: 23px;
  top: 838px;
  left: 84px;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-8 {
  width: 461px;
  height: 23px;
  top: 887px;
  left: 84px;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-9 {
  width: 509px;
  height: 23px;
  top: 934px;
  left: 84px;
  background-color: #d9d9d9;
  position: absolute;
  border-radius: 20px;
}

.support .overlap {
  position: absolute;
  width: 842px;
  height: 495px;
  top: 997px;
  left: 57px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 2px solid;
  border-color: #000000;
}

.support .rectangle-10 {
  width: 523px;
  height: 46px;
  top: 200px;
  left: 46px;
  background-color: #c3bebe;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-11 {
  width: 523px;
  height: 46px;
  top: 136px;
  left: 46px;
  background-color: #c3bebe;
  position: absolute;
  border-radius: 20px;
}

.support .overlap-group {
  position: absolute;
  width: 772px;
  height: 56px;
  top: 47px;
  left: 34px;
  background-image: url(./img/rectangle-38.png);
  background-size: 100% 100%;
}

.support .img {
  width: 43px;
  height: 50px;
  top: 0;
  left: 717px;
  position: absolute;
  object-fit: cover;
}

.support .text-wrapper-5 {
  position: absolute;
  width: 435px;
  top: 7px;
  left: 19px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.support .rectangle-12 {
  width: 523px;
  height: 46px;
  top: 263px;
  left: 46px;
  background-color: #c3bebe;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-13 {
  width: 523px;
  height: 46px;
  top: 323px;
  left: 46px;
  background-color: #c3bebe;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-14 {
  width: 523px;
  height: 46px;
  top: 382px;
  left: 46px;
  background-color: #c3bebe;
  position: absolute;
  border-radius: 20px;
}

.support .rectangle-15 {
  width: 523px;
  height: 46px;
  top: 445px;
  left: 46px;
  background-color: #c3bebe;
  position: absolute;
  border-radius: 20px;
}

.support .overlap-group-2 {
  position: absolute;
  width: 373px;
  height: 82px;
  top: 172px;
  left: 797px;
}

.support .frame-3 {
  position: absolute;
  width: 373px;
  height: 74px;
  top: 8px;
  left: 0;
  background-color: #fffff7;
  border-radius: 10px;
}

.support .text-wrapper-6 {
  position: absolute;
  width: 356px;
  top: 0;
  left: 9px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #030202;
  font-size: 64px;
  letter-spacing: 1.28px;
  line-height: 70.4px;
  white-space: nowrap;
}

.support .have-questions-or {
  position: absolute;
  width: 585px;
  top: 265px;
  left: 819px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 26.4px;
}

.support .div-wrapper {
  position: absolute;
  width: 276px;
  height: 50px;
  top: 380px;
  left: 817px;
  background-color: #fffff7;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.support .text-wrapper-7 {
  position: absolute;
  width: 141px;
  top: 8px;
  left: 12px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
  white-space: nowrap;
}

.support .e-mail-address-wrapper {
  position: absolute;
  width: 276px;
  height: 50px;
  top: 439px;
  left: 1111px;
  background-color: #fffff7;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.support .frame-4 {
  position: absolute;
  width: 276px;
  height: 50px;
  top: 439px;
  left: 817px;
  background-color: #fffff7;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.support .frame-5 {
  position: absolute;
  width: 570px;
  height: 142px;
  top: 506px;
  left: 817px;
  background-color: #fffff7;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.support .last-name-wrapper {
  position: absolute;
  width: 276px;
  height: 50px;
  top: 380px;
  left: 1111px;
  background-color: #fffff7;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.support .last-name {
  position: absolute;
  width: 141px;
  top: 8px;
  left: 11px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #615252;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 22px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.support .overlap-2 {
  position: absolute;
  width: 446px;
  height: 644px;
  top: 859px;
  left: 955px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 2px solid;
  border-color: #000000;
}

.support .overlap-3 {
  position: absolute;
  width: 431px;
  height: 100px;
  top: 51px;
  left: 15px;
}

.support .image-2 {
  width: 78px;
  height: 63px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.support .p {
  position: absolute;
  width: 387px;
  top: 23px;
  left: 44px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.support .overlap-4 {
  position: absolute;
  width: 384px;
  height: 65px;
  top: 535px;
  left: 30px;
}

.support .rectangle-16 {
  width: 381px;
  height: 65px;
  top: 0;
  left: 3px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 20px;
}

.support .text-wrapper-8 {
  position: absolute;
  width: 204px;
  top: 16px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #181717;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.support .text-wrapper-9 {
  position: absolute;
  width: 210px;
  top: 801px;
  left: 951px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.support #abc{
   width:650px;
   height: 40px;
   background-color:#c3bebe;
   border: #c3bebe;

}

.support .logo {
  position: relative;
  width: 137px;
  height: 122px;
  top: 0;
  left: 38px;
  object-fit: cover;
}

.support .menu-bar {
  position: absolute;
  margin-top: 35px;
  display: flex;
  gap: 20px;
  top: 30px;
  
}

.support .menu-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.support .menu-bar a:hover {
  background-color: #165144; /* Change the background color on hover */
}
.support .menu-bar {
  display: flex;
  gap: 20px;
  justify-content: flex-end; /* Align the content to the right */
}

.support .menu-bar .dropdown {
  position: relative;
  display: inline-block;
}

.support .menu-bar .dropbtn {
  background-color: #1e5048;
  color:#fcfcfc;
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 32px;
  

}

.support .menu-bar .dropbtn:hover {
  background-color: #ffffff; /* Change the background color on hover */

  
}

.support .menu-bar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e5048;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}

.support .menu-bar .dropdown-content a {
  color: #fff;
  padding: 20px 70px;
  text-decoration: none;
  display: block;
  font-size: 32px;
  
}

.support .menu-bar .dropdown-content a:hover {
  background-color:#1e5048; /* Change the background color on hover */
  margin-left: 0;
}

.support .menu-bar .dropdown:hover .dropdown-content {
  display: block;
}